---
import "./HeroMobile.scss";

const categories = [
    { name: "СВАДЬБЫ", position: "left-0" },
    { name: "КОРПОРАТИВЫ", position: "left-[141px]" },
    { name: "СТЕНДАП", position: "left-[331px]" },
];

const dots = [{ position: "left-[117px]" }, { position: "left-[307px]" }];
---

<div class="hero-mobile__card">
    <div class="hero-mobile__content">
        <div class="hero-mobile__images">
            <img
                class="hero-mobile__decoration"
                alt="Интеллигентно и смешно - слоган Михаила Колесникова"
                src="/type.svg"
            />
            <img
                class="hero-mobile__person"
                alt="Mobile person"
                src="/person__mobile.png"
            />
        </div>
        <div class="hero-mobile__header">
            <h1 class="hero-mobile__title">МИХАИЛ КОЛЕСНИКОВ</h1>

            <meta
                itemprop="jobTitle"
                content="Ведущий мероприятий, MC, Presenter"
            />
            <meta
                itemprop="description"
                content="Профессиональный ведущий мероприятий в России. Специализируется на свадьбах, корпоративных мероприятиях, частных праздниках и стендап выступлениях."
            />
            <meta itemprop="url" content="https://mishakolesnikov.com" />

            <div class="hero-mobile__categories">
                {
                    categories.map((category, index) => (
                        <div
                            class={`hero-mobile__category ${category.position}`}
                        >
                            {category.name}
                        </div>
                    ))
                }
                <!-- Separator dots -->
                {
                    dots.map((dot, index) => (
                        <div class={`hero-mobile__dot ${dot.position}`} />
                    ))
                }
            </div>
        </div>
    </div>
</div>
