---
import "./HeroMobile.scss";

const categories = [
    { name: "СВАДЬБЫ", position: "left-0" },
    { name: "КОРПОРАТИВЫ", position: "left-[141px]" },
    { name: "СТЕНДАП", position: "left-[331px]" },
];

const dots = [{ position: "left-[117px]" }, { position: "left-[307px]" }];
---

<div class="hero-mobile__card">
    <div class="hero-mobile__content">
        <div class="hero-mobile__images">
            <img
                class="hero-mobile__decoration"
                alt="Decoration text"
                src="/decoration--text.png"
            />
            <img
                class="hero-mobile__person"
                alt="Mobile person"
                src="/person__mobile.png"
            />
        </div>
        <!-- Header content -->
        <div class="hero-mobile__header">
            <!-- Name heading -->
            <h1 class="hero-mobile__title">МИХАИЛ КОЛЕСНИКОВ</h1>
            <!-- Categories section -->
            <div class="hero-mobile__categories">
                {
                    categories.map((category, index) => (
                        <div
                            class={`hero-mobile__category ${category.position}`}
                        >
                            {category.name}
                        </div>
                    ))
                }
                <!-- Separator dots -->
                {
                    dots.map((dot, index) => (
                        <div class={`hero-mobile__dot ${dot.position}`} />
                    ))
                }
            </div>
        </div>
    </div>
</div>
