.hero-mobile {
  background-color: #fffaf2;
  width: 100%;
  overflow-x: hidden;
  --scale-factor: calc(100vw / 488px);
  height: calc(844px * var(--scale-factor));

  @media (min-width: 488px) {
    --scale-factor: 1;
    height: 844px;
  }
}

.hero-card {
  background-color: #fffaf2;
  width: 488px;
  height: 844px;
  position: relative;
  border: 0;
  overflow: hidden;
  transform-origin: top left;
  transform: scale(var(--scale-factor));
  max-width: none;

  @media (min-width: 488px) {
    margin: 0 auto;
  }
}

.hero-content {
  padding: 0;
}

.hero-images {
  position: absolute;
  width: 458px;
  height: 654px;
  top: 190px;
  left: 0;

  .decoration-text {
    position: absolute;
    width: 214px;
    height: 69px;
    top: 232px;
    left: 244px;
  }

  .mobile-person {
    position: absolute;
    width: 389px;
    height: 654px;
    top: 0;
    left: 0;
  }
}

.hero-header {
  display: flex;
  flex-direction: column;
  width: 444px;
  align-items: center;
  gap: 23px;
  position: absolute;
  top: 47px;
  left: 23px;
}

.hero-title {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: 'Manrope', Helvetica;
  font-weight: 500;
  color: #030e12;
  font-size: 66px;
  text-align: center;
  letter-spacing: 0;
  line-height: 58.1px;


  @media (max-width: 488px) {
    font-size: 55px;
  }
}

.categories-container {
  position: relative;
  width: 431px;
  height: 14px;
}

.category {
  position: absolute;
  top: 0;
  font-family: 'Manrope', Helvetica;
  font-weight: 500;
  color: #484848;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

  &.category-1 {
    left: 0;
  }

  &.category-2 {
    left: 141px;
  }

  &.category-3 {
    left: 331px;
  }
}

.dot {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 5px;
  background-color: #484848;
  border-radius: 1.5px;

  &.dot-1 {
    left: 117px;
  }

  &.dot-2 {
    left: 307px;
  }
}
